.btn {
    border-radius: 0;
}

.btn-dark {
    color: #fff;
    background-color: #757575;
    border-color: #909090;
}
.btn-dark:hover {
    color: #fff;
    background-color: #606060;
    border-color: #505050;
}