<ui-button>Simple</ui-button>
<br><br>

<ui-button type="default">Default</ui-button>
<ui-button type="primary">Primary</ui-button>
<ui-button type="danger">Danger</ui-button>
<ui-button type="warning">Warning</ui-button>
<ui-button type="info">Info</ui-button>
<ui-button type="dark">Dark</ui-button>
<br><br>

<ui-button size="xs">Extra Small</ui-button>
<ui-button size="sm">Small</ui-button>
<ui-button size="md">Medium</ui-button>
<ui-button size="lg">Large</ui-button>


<!--<ui-panel>-->
    <!--<ui-button type="primary">Inside</ui-button>-->
<!--</ui-panel>-->