<form>
  <legend>Add New User</legend>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Input field">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Input field">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="firstName1">First Name</label>
        <input type="text" class="form-control" id="firstName1" placeholder="Input field">
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="lastName2">Last Name</label>
        <input type="text" class="form-control" id="lastName2" placeholder="Input field">
      </div>
    </div>
  </div>

  <ui-button type="danger">Add</ui-button>
</form>
